asgiref==3.5.0
async-timeout==4.0.2
backports.zoneinfo==0.2.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
Deprecated==1.2.13
Django==4.0.4
django-redis==5.2.0
django-sslserver==0.22
idna==3.3
packaging==21.3
py3Fdfs==2.2.0
PyMySQL==1.0.2
pyparsing==3.0.9
#redis==4.3.1
requests==2.27.1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
#uWSGI==2.0.20
wrapt==1.14.1
