<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的云端相册-首页</title>
    <link type="text/css" rel="stylesheet" href="/static/css/footer.css">
    <link type="text/css" rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/jquery-3.6.0.js"></script>
</head>
<body>
<form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data" id="form">
    {% csrf_token %}
    <label for="file">点击上传：</label>
    {#        <input type="file" id="file" name="file" webkitdirectory>#}
    <input type="file" id="file" name="file" multiple>
    {#    <input type="file" id="file" name="file">#}
    <!--<label for="name">名称:</label>
    <input type="text" placeholder="默认以上传名称命名" id="name" name="name">-->

    <input type="button" value="提交" onclick="Toupload()">

</form>
<div>

    <ul>
        {% if data %}
            {% for file in data %}
                <li>
                <span title="点击查看大图" ondblclick="Delete({{ file.id }})" onclick="Pic('{{ file.url }}')">
                <!--<span href="{{ file.url }}" title="点击查看大图" target="_blank">-->
                    <img src="{{ file.url }}" alt="" style="width: 200px;height: 200px;">
                    <!--</span>-->
                </span>
                    <span title="{{ file.name }}">{{ file.name }}</span>
                </li>
            {% endfor %}
        {% else %}
            <li>暂未上传~~~~</li>
        {% endif %}

    </ul>


</div>
<footer class="footer-div">
    <div class="footer-inner-div">
        <span class="icp-span">
            <a target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index" class="icp-a">
                京ICP备2022017561号-1
            </a>
        </span>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602104280"
           class="police-a">
            <img src="/static/image/beian.png" alt="" class="police-img">
            <p class="police-p">京公网安备 11010602104280号</p>
        </a>
    </div>
</footer>

<script type="text/javascript">
    function Toupload() {
        var file_dom = document.getElementById("file");
        if (file_dom.value == '') {
            alert("未上传图片！");
            return
        }
        // var file_list = file_dom.files;
        // var files;
        // files = [];
        // for (var i = 0; i < file_list.length; i++){
        //     files.push(file_list[i])
        // }
        // console.log(files);
        var form_data = new FormData(document.getElementById("form"));

        if (['jpg', 'jpeg', 'png', 'mp4'].indexOf(file_dom.value.split('.')[file_dom.value.split('.').length - 1]) !== -1) {
            {#document.getElementById('form').submit();#}
            $.ajax({
                url: "{% url 'upload_file' %}",
                method: "post",
                data: form_data,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert(data.message);
                    location.reload();
                },
                error: function (err) {
                    console.log(err);
                }
            })
        } else {
            alert("图片格式错误，请重新上传");
            document.getElementById("file").value = '';
        }

    }

    function Delete(file_id) {
        if (confirm("确认删除吗？") === true) {
            $.ajax({
                url: "{% url 'delete_file' %}",
                type: "post",
                data: {
                    _method: "DELETE",
                    csrfmiddlewaretoken: document.getElementsByTagName("input").namedItem("csrfmiddlewaretoken").value,
                    id: file_id,
                },
                success: function (data) {
                    alert(data.message);
                    location.reload();
                },
                error: function (err) {
                    console.log(err);
                }
            })
        } else {

        }
    }

    function Pic(file_url) {
        window.open(file_url);
    }
</script>
</body>
</html>
